# build
/target
/target-windows

# IDE
.idea
.run
.vs
/resources/data/features_3dbag_5909/

# misc
/tmp

# Test data
/tests/output
/cityjson-convert/tests/output/

# Debug data
*.tsv
*.bincode
*.log

