# build
/target
/target-windows

# IDE
.idea
.run
.vs
/resources/data/features_3dbag_5909/

# misc
/tmp
.env

# Test data
/tests/output*
/cityjson-convert/tests/output/
.geodepot.bak
**/*.sqlite

# Debug data
*.tsv
*.bincode
*.log
/docs/plans/
